:global {
  body .__dumi-default-layout[data-site-mode='true'] {
    padding-top: 88px;
  }
}

.formArea {
  padding-bottom: 16px;

  :global {
    @media screen and(-ms-high-contrast:active), (-ms-high-contrast: none) {
      // 这里写样式，IE 11 下才有效
      .ant-radio-group {
        white-space: nowrap;
      }
    }
  }
}

[data-prefers-color='dark'] {
  .formArea {
    background-color: #141414;
  }
}
