@import './demo.less';

.iconButton {
  width: 44px;
  height: 44px;
  color: #fff;
  font-size: 24px;
  background-color: black;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
